<div class="edit">
  <div class="memoform">
    <form action="/memos/<%= @memo['id'] %>" method="post">
      <input type="hidden" name="_method" value="PATCH">
      <input class="edit__title" type="text" name="memo_title" value="<%= h @memo['memo_title'] %>" required><br>
      <textarea class="edit__article" name="article" required><%= h @memo['article'] %></textarea><br>
  </div>
  <input class="edit__button" type="submit" value="変更">
  </form>
</div>
