<form action="" method="post">
  <input type="text" name="memo_title" placeholder="メモタイトル"  required><br>
  <textarea name="article" rows="5" placeholder="メモ内容"  required></textarea><br>
  <button type="submit">変更</button>
</form>
