<form action="" method="post">
  <input type="text" name="memo_title" placeholder="メモタイトル"  required><br>
  <textarea name="article" placeholder="メモ内容"  required></textarea><br>
  <input type="submit" value="保存">
</form>
